@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(bg.jpg);
    background-size: cover;
}

.box {
    width: 500px;
    padding: 60px;
    position: absolute;
    border-radius: 54px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(130deg, rgba(116, 185, 255, 0.45), rgba(230, 103, 103, 0.46));
    text-align: center;
}

    .box h1 {
        color: white;
        font-weight: 500;
    }

    .box input[type = "text"], .box input[type = "password"] {
        border: 0;
        background: white;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid rgba(49, 0, 255, 0.50);
        padding: 14px 10px;
        width: 300px;
        outline: none;
        color: #000000;
        border-radius: 24px;
        transition: 0.25s;
    }

        .box input[type = "text"]:focus, .box input[type = "password"]:focus {
            width: 280px;
            border-color: #513eb7;
        }

    .box input[type = "submit"] {
        border: 0;
        background: white;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 2px solid rgba(255, 0, 0, 0.35);
        padding: 14px 40px;
        outline: none;
        color: #808080;
        border-radius: 24px;
        transition: 0.25s;
        cursor: pointer;
    }

        .box input[type = "submit"]:hover {
            background: linear-gradient(130deg, rgba(0, 75, 255, 0.59), rgba(255, 0, 0, 0.45));
        }
    .box input[type = "password"] {
        color: #000000;
    }

    .box h2 {
        color: white;
        font-weight: 500;
    }
.sm {
    display: flex;
    justify-content: center;
    margin: 680px 0;
    background: center;
    text-align: center;
    
}

    .sm a {
        color: #f2f2f2;
        width: 56px;
        font-size: 33px;
        transition: .3s linear;
    }

        .sm a:hover {
            color: #3ecbad;
        }